MONGO_URI=mongodb://localhost:27017
JWT_SECRET=Secret1234567890
PORT=3000

AWS_ENDPOINT_URL=http://localhost:9000
AWS_REGION=us-east-1
AWS_S3_BUCKET=rolebook-avatars
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
